body{
  //background-color: rgb(82,182,236);
  background-color: rgb(210,163,141);
  //background-image: url("../img/queue-of-people.png");
  background-image: url("../img/fundo.png");
  background-position:50% -100px;
  background-repeat: repeat-x;
  height: 500px;
}
div{
    border-radius: 10px;
}
#conteudo{
  width: 85%;
  height: 100%;
}
#navbar{
  background-color: rgb(219,244,255);
  margin: 0 px;
}
.fundo-braco{
  background-color: rgb(255,255,255);
}
#cover-image{

}
#text-cover{
  margin-top: 200px;
  background-color: rgb(255,255,255,0.3);
}
h1{
  font-size: 70;
}
h2{
  font-size: 40;
}
.red{
  color: red;
}
.text-primary{
  font-size: 25;
}
#sobre{
  padding-top: 60px;
  margin-top: 70px;
}
#plataforma{
  padding-top: 60px;
}
.img-rounded{
  max-height: 200px;
}
#contato{
    padding-top: 50px;
}

#contato .box {
    background-color: #222;
    color: #999;
}
#contato .box h1,
#contato .box h2,
#contato .box h3 {
    color: #fff;
}
#contato .box a {
    color: #999;
}
#contato .box a:hover {
    color: #52b6ec;
}
#contato .box input[type="text"],
#contato .box input[type="email"],
#contato .box textarea {
    background-color: #111;
    border: 0;
    -webkit-transition: 300ms;
    -moz-transition: 300ms;
    -o-transition: 300ms;
    transition: 300ms;
}
#contato .box input[type="text"]:focus,
#contato .box input[type="email"]:focus,
#contato .box textarea:focus {
    background-color: #000;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
}
.box {
    padding: 50px 30px;
    background: #fff;
    border-bottom: 1px solid #e9e9e9;
    position: relative;
}
.box.first {
    margin-top: -40px;
    border-radius: 5px 5px 0 0;
}
.box.last {
    border-radius: 0 0 5px 5px;
}
.box h2 {
    padding: 10px 30px;
    display: inline-block;
    border-radius: 4px;
    position: relative;
    margin-bottom: 30px;
    font-size: 48px;
}
#portfolio .box {
    background: #f3f3f3;
}